.background {

    /* background-image: url('https://i.pinimg.com/originals/47/59/97/47599769fd1a3cea73d2a314d46f0659.jpg'); */
    color: rgba(0, 0, 0, 0.5);
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    z-index: inherit;

    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

.overlay {

    background-repeat: repeat;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    z-index: inherit;
    overflow-x: scroll;
}